* {
  font-family: 'Lato', 'Bebas Neue', 'Oswald', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 937px;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  width: 937px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.header-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding-top: 8px;
}

.menu-list,
.middle-menu-list {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  width: 192px;
  height: 9px;
}

.menu-item,
.middle-menu-item {
  display: inline;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}

.menu-item {
  color: #fefeff;
}

.menu-link {
  cursor: pointer;
}

.main {
  position: relative;
  background-image: url('images/losangeles-mountains.png'),
    url('images/main.png');
  background-repeat: no-repeat;
  background-size: 24%, cover;
  background-position: 60% 34%, top;
  padding: 241px 593px 441px 413px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('images/layer.png');
    opacity: 0.2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.layer-letters {
  background-image: url('images/losangeles-mountains.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.middle {
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.middle-logo {
  width: 163px;
  height: 43px;
  padding-top: 13px;
}

.middle-menu-item {
  color: #414f6b;
}

.history {
  background-image: url('images/history.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title-history,
.climb {
  display: flex;
  width: 880px;
  height: 194px;
}

h1,
.dot,
.dot-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 136px;
  font-weight: 700;
  color: #414f6b;
  opacity: 0.5;
}

.big-blue-letters {
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #414f6b;
  text-transform: uppercase;
  padding: 90px 0 0;
  width: 110px;
  height: 30px;
}

.dot,
.dot-2 {
  margin-left: -115px;
  padding-top: 90px;
}

p {
  color: #000000;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 550px;
  margin-left: 80px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 190px;
  background-color: #414f6b;
  padding-top: 20px;
}

.carousel-container .carousel {
  width: 973px;
  height: calc(100% - 30px);
  position: relative;
}

.carousel-container img {
  position: absolute;
  left: calc((100% - 937px) / 2);
  overflow: hidden;
}

.carousel-container img:not(.active) {
  left: -50%;
}

.dotsContainer {
  position: absolute;
  bottom: 5px;
  z-index: 2;
  left: 49%;
  transform: translateX(-50%);
}

.dotsContainer .dots {
  width: 5px;
  height: 5px;
  margin: 2px;
  border-radius: 50%;
  background-color: #63769d;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotsContainer .active {
  background-color: white;
}

@keyframes next1 {
  from {
    left: calc((100% - 937px) / 2);
  }
  to {
    left: -100%;
  }
}

@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: calc((100% - 937px) / 2);
  }
}

.climb {
  height: 200px;
}
.text {
  padding: 80px 0 0 0;
}

.dot-2 {
  margin-left: -88px;
}

.mountains {
  background-color: #414f6b;
}

.mountains-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
}

.mountain {
  display: inline;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #b0b4be;
  padding: 5px 20px;
}

.mountains-wrapper .active {
  background-color: #b0b4be;
  color: #414f6b;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.team {
  background-image: url('images/team.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.schedule-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 0 365px 0;
}

.schedule-box {
  width: 352px;
  height: 229px;
  background-color: #ffffff;
  opacity: 0.7;
  justify-content: end;
}

.schedule {
  padding: 25px 181px 178px 39px;
}

.schedule-text {
  padding-bottom: 0px;
  margin-left: 41px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 300;
}

.footer,
.footer-wrapper {
  height: 74px;
  background-color: #414f6b;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #63769d;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
}

@media (max-width: 1600px) {
  .container {
    max-width: 937px;
  }
  .main {
    background-position: 60% 29%, top;
  }
}

@media (max-width: 1400px) {
  .container {
    max-width: 937px;
  }
  .main {
    background-position: 60% 24.5%, top;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 937px;
  }
  .main {
    background-position: 60% 20%, top;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .main {
    background-position: 63% 20.5%, top;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 15px 0 15px;
  }
}
